MONGO_URI=mongodb://<db_username>:<db_password>@ac-x5bh2ae-shard-00-00.ashmecn.mongodb.net:27017,ac-x5bh2ae-shard-00-01.ashmecn.mongodb.net:27017,ac-x5bh2ae-shard-00-02.ashmecn.mongodb.net:27017/?ssl=true&replicaSet=atlas-12wwv2-shard-0&authSource=admin&appName=laboration3